In [1]:

import pandas as pd

In [2]:
uu="https://fr.wikipedia.org/wiki/Population_mondiale"
data=pd.read_html(uu)

In [5]:
i=0
for d in data:
    print(f'...............................  ............{i}...................................................')
    print(d)
    i+=1

...............................  ............0...................................................
                                Région        2022 (%)        2030 (%)  \
0                Afrique subsaharienne  1 152 (14,5 %)  1 401 (16,5 %)
1  Afrique du Nord et Asie occidentale     549 (6,9 %)     617 (7,2 %)
2         Asie centrale et Asie du Sud  2 075 (26,1 %)  2 248 (26,4 %)
3     Asie de l'Est et Asie du Sud-Est  2 342 (29,5 %)  2 372 (27,9 %)
4           Europe et Amérique du Nord  1 120 (14,1 %)  1 129 (13,3 %)
5          Amérique latine et Caraïbes     658 (8,3 %)     695 (8,2 %)
6        Australie et Nouvelle-Zélande      31 (0,4 %)      34 (0,4 %)
7                Autres pays d'Océanie      14 (0,2 %)      15 (0,2 %)
8                                Monde           7 942           8 512

         2050 (%)
0  2 094 (21,6 %)
1       771 (8 %)
2  2 575 (26,6 %)
3  2 317 (23,9 %)
4  1 125 (11,6 %)
5     749 (7,7 %)
6      38 (0,4 %)
7      20 (0,2 %)
8           9 687
...............................  ............1...................................................
       Année     Population mondiale
0   -100 000             0,5 million
1    -10 000         1 à 10 millions
2     -6 500         5 à 10 millions
3     -5 000         5 à 20 millions
4        400      190 à 206 millions
5       1000      254 à 345 millions
6       1250      400 à 416 millions
7       1500      425 à 540 millions
8       1700      600 à 679 millions
9       1750      629 à 691 millions
10      1800  0,813 à 1,125 milliard
11      1850  1,128 à 1,402 milliard
12      1900  1,550 à 1,762 milliard
13      1910          1,750 milliard
14      1920          1,860 milliard
15      1930          2,07 milliards
16      1940           2,3 milliards
17      1950           2,5 milliards
...............................  ............2...................................................
                                                Année  \
0                                                1950
1                                                1955
2                                                1960
3                                                1965
4                                                1970
5                                                1975
6                                                1980
7                                                1985
8                                                1990
9                                                1995
10                                               2000
11                                               2005
12                                               2010
13                                               2015
14                                               2020
15  Source : ONU, World Population Prospects 2019[...

                       Population mondiale (milliers)  \
0                                           2 536 431
1                                           2 773 020
2                                           3 034 950
3                                           3 339 584
4                                           3 700 437
5                                           4 079 480
6                                           4 458 003
7                                           4 870 922
8                                           5 327 231
9                                           5 744 213
10                                          6 143 494
11                                          6 541 907
12                                          6 956 824
13                                          7 379 797
14                                          7 794 799
15  Source : ONU, World Population Prospects 2019[...

                                                   %±  \
0                                                 NaN
1                                            + 9,33 %
2                                            + 9,45 %
3                                           + 10,04 %
4                                           + 10,81 %
5                                           + 10,24 %
6                                            + 9,28 %
7                                            + 9,26 %
8                                            + 9,37 %
9                                            + 7,83 %
10                                           + 6,95 %
11                                           + 6,49 %
12                                           + 6,34 %
13                                           + 6,08 %
14                                           + 5,62 %
15  Source : ONU, World Population Prospects 2019[...

                         Accroissement brut (millier)
0                                                 NaN
1                                             236 589
2                                             261 930
3                                             304 634
4                                             360 854
5                                             379 043
6                                             378 523
7                                             412 918
8                                             456 309
9                                             416 982
10                                            399 281
11                                            398 413
12                                            414 917
13                                            422 973
14                                            415 002
15  Source : ONU, World Population Prospects 2019[...
...............................  ............3...................................................
                         Région  1950  1960  1970  1980  1990  2000  2010  \
0                       Afrique    90    94    99   108   119   133   151
1               Afrique du Nord    19    21    22    24    26    28    29
2         Afrique subsaharienne    71    73    77    84    93   105   121
3                      Amérique   135   141   141   139   137   137   136
4              Amérique du Nord    68    68    62    57    53    51    49
5   Amérique latine et Caraïbes    67    73    78    82    84    86    86
6                          Asie   554   561   578   593   604   607   603
7                 Asie centrale     7     8     9     9     9     9     9
8                 Asie de l'Est   267   265   269   267   261   246   229
9               Asie de l'Ouest    20    22    23    26    28    30    33
10                  Asie du Sud   195   196   200   211   223   236   245
11              Asie du Sud-Est    65    70    76    80    83    85    86
12                       Europe   217   200   178   156   135   118   106
13                      Océanie     5     5     5     5     5     5     5

    2020
0    172
1     32
2    140
3    131
4     47
5     84
6    595
7     10
8    215
9     36
10   249
11    86
12    96
13     5
...............................  ............4...................................................
                                                Année        1     1000  \
0                                   Europe de l'Ouest   24 700   25 413
1   Europe de l'Est (à l'exception des pays de l'U...    4 750    6 500
2                                       Ancienne URSS    3 900    7 100
3       Toute l'Europe (y compris les pays de l'URSS)   33 350   39 013
4                                          États-Unis      680    1 300
5                     Autres ramifications de l'Ouest      490      660
6                      Toutes les branches de l'Ouest    1 170    1 960
7                                             Mexique    2 200    4 500
8                       Autres pays d'Amérique latine    3 400    6 900
9                             Toute l'Amérique latine    5 600   11 400
10                                              Japon    3 000    7 500
11                                              Chine   59 600   59 000
12                                               Inde   75 000   77 000
13                                 Autres pays d'Asie   36 600   41 400
14                Total Asie (à l'exception du Japon)  171 200  175 400
15                                            Afrique   16 500   33 000
16                                   Monde (milliers)  230.820  268.273

       1500     1600     1700       1820       1870       1913       1950  \
0    57 268   73 778   81 460    132 888    187 532    261 007    305 060
1    13 500   16 950   18 800     36 415     52 182     79 604     87 289
2    16 950   20 700   26 550     54 765     88 672    156 192    180 050
3    87 718  111 428  126 810    224 068    328 386    496 803    572 399
4     2 000    1 500    1 000      9 981     40 241     97 606    152 271
5       800      800      750      1 249      5 892     13 795     23 823
6     2 800    2 300    1 750     11 230     46 133    111 401    176 094
7     7 500    2 500    4 500      6 587      9 219     14 970     28 485
8    10 000    6 100    7 550     14 633     30 754     65 545    137 352
9    17 500    8 600   12 050     21 220     39 973     80 515    165 837
10   15 400   18 500   27 000     31 000     34 437     51 672     83 563
11  103 000  160 000  138 000    381 000    358 000    437 140    546 815
12  113 000  145 000  201 000    209 000    239 000    319 000    362 000
13   55 400   65 000   71 800     89 366    119 619    185 092    392 481
14  268 400  360 000  374 800    679 366    730 619    925 932  1 298 296
15   46 000   55 000   61 000     74 208     90 466    124 697    228 342
16  437.818  555.828  603.410  1.041.092  1.270.014  1.791.020  2.524.531

         1973       1998
0     358 390    388 399
1     110 490    121 006
2     249 748    290 866
3     718 628    800 271
4     212 909    279 040
5      39 036     52 859
6     250 945    323 420
7      57 643     98 553
8     250 807    409 070
9     308 450    507 623
10    108 660    126 469
11    881 940  1 242 700
12    549 000  1 029 000
13    677 214  1 172 243
14  2 139 154  3 389 943
15    387 645    759 954
16  3.913.482  5.907.680
...............................  ............5...................................................
                                                Année      1   1000   1500  \
0                                   Europe de l'Ouest  107.0   95.0  131.0
1   Europe de l'Est (à l'exception des pays de l'U...   21.0   24.0   31.0
2                                       Ancienne URSS   17.0   26.0   39.0
3       Toute l'Europe (y compris les pays de l'URSS)  145.0  145.0  201.0
4                                          États-Unis    3.0    5.0    5.0
5                     Autres ramifications de l'Ouest    2.0    2.0    2.0
6                         Total Branches occidentales    5.0    7.0    6.0
7                                             Mexique   10.0   17.0   17.0
8                       Autres pays d'Amérique latine   15.0   26.0   23.0
9                               Total Amérique latine   24.0   42.0   40.0
10                                              Japon   13.0   28.0   35.0
11                                              Chine  258.0  220.0  235.0
12                                               Inde  325.0  280.0  251.0
13                                 Autres pays d'Asie  159.0  154.0  127.0
14                Total Asie (à l'exception du Japon)  742.0  654.0  613.0
15                                            Afrique   71.0  123.0  105.0
16                                              Monde  100.0  100.0  100.0

     1600   1700   1820   1870   1913   1950   1973   1998
0   133.0  135.0  128.0  148.0  146.0  121.0   92.0   66.0
1    30.0   31.0   35.0   41.0   44.0   35.0   28.0   20.0
2    37.0   44.0   53.0   70.0   87.0   71.0   64.0   49.0
3   200.0  210.0  216.0  259.0  277.0  227.0  184.0  135.0
4     3.0    2.0   10.0   32.0   54.0   60.0   54.0   46.0
5     1.0    1.0    1.0    5.0    8.0    9.0   10.0    9.0
6     4.0    3.0   11.0   36.0   62.0   70.0   64.0   55.0
7     4.0    7.0    6.0    7.0    8.0   11.0   15.0   17.0
8    11.0   13.0   14.0   24.0   37.0   54.0   64.0   69.0
9    15.0   20.0   20.0   31.0   45.0   66.0   79.0   86.0
10   33.0   45.0   30.0   27.0   29.0   33.0   28.0   21.0
11  288.0  229.0  366.0  282.0  244.0  217.0  225.0  210.0
12  243.0  273.0  201.0  199.0  170.0  142.0  148.0  165.0
13  117.0  119.0   86.0   94.0  103.0  155.0  173.0  198.0
14  648.0  621.0  653.0  575.0  517.0  514.0  547.0  574.0
15   99.0  101.0   71.0   71.0   70.0   90.0   99.0  129.0
16  100.0  100.0  100.0  100.0  100.0  100.0  100.0  100.0
...............................  ............6...................................................
                                              Période  \
0                                           1950-1955
1                                           1955-1960
2                                           1960-1965
3                                           1965-1970
4                                           1970-1975
5                                           1975-1980
6                                           1980-1985
7                                           1985-1990
8                                           1990-1995
9                                           1995-2000
10                                          2000-2005
11                                          2005-2010
12                                          2010-2015
13                                          2015-2020
14                                          2020-2025
15  Source : Base de données démographiques de l'O...

                      Indice synthétique de fécondité  \
0                                                 497
1                                                 490
2                                                 502
3                                                 493
4                                                 447
5                                                 386
6                                                 359
7                                                 344
8                                                 301
9                                                 278
10                                                265
11                                                258
12                                                252
13                                                247
14                                                242
15  Source : Base de données démographiques de l'O...

                                           Unnamed: 2
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Source : Base de données démographiques de l'O...
...............................  ............7...................................................
  Projections de la population mondiale totale (milliers)  \
                                                    Année
0                                               2020
1                                               2030
2                                               2040
3                                               2050
4                                               2060
5                                               2070
6                                               2080
7                                               2090
8                                               2100
9  Source : Base de données démographiques de l'O...

                                                      \
                                      Variante basse
0                                          7 794 799
1                                          8 363 453
2                                          8 716 310
3                                          8 906 797
4                                          8 882 880
5                                          8 675 770
6                                          8 331 397
7                                          7 869 840
8                                          7 322 116
9  Source : Base de données démographiques de l'O...

                                                      \
                                    Variante moyenne
0                                          7 794 799
1                                          8 548 487
2                                          9 198 847
3                                          9 735 034
4                                         10 151 470
5                                         10 459 240
6                                         10 673 904
7                                         10 809 892
8                                         10 875 394
9  Source : Base de données démographiques de l'O...


                                      Variante haute
0                                          7 794 799
1                                          8 733 522
2                                          9 682 332
3                                         10 587 774
4                                         11 529 222
5                                         12 495 987
6                                         13 478 079
7                                         14 515 851
8                                         15 600 369
9  Source : Base de données démographiques de l'O...
...............................  ............8...................................................
  Évolution des prévisions de l'ONU (scénario moyen, en milliards d'habitants)  \
                                                                 Prévision ONU
0                                 Prévision 1998[27]
1                                 Prévision 2011[29]
2                                     Prévision 2013
3                                 Prévision 2015[30]
4                                 Prévision 2017[31]
5                                 Prévision 2019[17]
6                                Prévision 2022[w 5]


  Population en 2050 Population en 2100
0                 91                 95
1                 93                101
2                955               1085
3                972               1121
4                977               1118
5                974               1088
6                969                104
...............................  ............9...................................................
    v · mRéchauffement climatique et énergie  \
0                   Réchauffement climatique
1                    Actions internationales
2                             Effet de serre
3                                    Énergie
4                   Énergie non renouvelable
5   Énergie renouvelable (électricité - gaz)
6                        Vecteur énergétique
7                                   Stockage
8                        Économies d'énergie
9                                    Société
10                              Anthropocène

           v · mRéchauffement climatique et énergie.1
0   Climat Histoire du climat Graphique en crosse ...
1   Sommet de la Terre Convention-cadre des Nation...
2   Albédo Bilan radiatif de la Terre Rayonnement ...
3   Agence internationale de l'énergie Agence inte...

In [3]:
data[9]

,v · mRéchauffement climatique et énergie,v · mRéchauffement climatique et énergie.1
0,Réchauffement climatique,Climat Histoire du climat Graphique en crosse ...
1,Actions internationales,Sommet de la Terre Convention-cadre des Nation...
2,Effet de serre,Albédo Bilan radiatif de la Terre Rayonnement ...
3,Énergie,Agence internationale de l'énergie Agence inte...
4,Énergie non renouvelable,Charbon Gaz Pic gazier Nucléaire Pétrole Pic p...
5,Énergie renouvelable (électricité - gaz),Biogaz Biomasse Déchets Éolienne Géothermie Hy...
6,Vecteur énergétique,Électricité Hydrogène liquide Produits pétroli...
7,Stockage,Air comprimé Barrage hydraulique Batterie d'ac...
8,Économies d'énergie,Sobriété économique Efficacité énergétique Eff...
9,Société,Coopérative citoyenne d'énergie Décroissance J...
10,Anthropocène,Collapsologie Écomodernisme Esclave énergétiqu...

In [4]:
d=data[4]

In [5]:
d

,Année,1,1000,1500,1600,1700,1820,1870,1913,1950,1973,1998
0,Europe de l'Ouest,24 700,25 413,57 268,73 778,81 460,132 888,187 532,261 007,305 060,358 390,388 399
1,Europe de l'Est (à l'exception des pays de l'U...,4 750,6 500,13 500,16 950,18 800,36 415,52 182,79 604,87 289,110 490,121 006
2,Ancienne URSS,3 900,7 100,16 950,20 700,26 550,54 765,88 672,156 192,180 050,249 748,290 866
3,Toute l'Europe (y compris les pays de l'URSS),33 350,39 013,87 718,111 428,126 810,224 068,328 386,496 803,572 399,718 628,800 271
4,États-Unis,680,1 300,2 000,1 500,1 000,9 981,40 241,97 606,152 271,212 909,279 040
5,Autres ramifications de l'Ouest,490,660,800,800,750,1 249,5 892,13 795,23 823,39 036,52 859
6,Toutes les branches de l'Ouest,1 170,1 960,2 800,2 300,1 750,11 230,46 133,111 401,176 094,250 945,323 420
7,Mexique,2 200,4 500,7 500,2 500,4 500,6 587,9 219,14 970,28 485,57 643,98 553
8,Autres pays d'Amérique latine,3 400,6 900,10 000,6 100,7 550,14 633,30 754,65 545,137 352,250 807,409 070
9,Toute l'Amérique latine,5 600,11 400,17 500,8 600,12 050,21 220,39 973,80 515,165 837,308 450,507 623
10,Japon,3 000,7 500,15 400,18 500,27 000,31 000,34 437,51 672,83 563,108 660,126 469
11,Chine,59 600,59 000,103 000,160 000,138 000,381 000,358 000,437 140,546 815,881 940,1 242 700
12,Inde,75 000,77 000,113 000,145 000,201 000,209 000,239 000,319 000,362 000,549 000,1 029 000
13,Autres pays d'Asie,36 600,41 400,55 400,65 000,71 800,89 366,119 619,185 092,392 481,677 214,1 172 243
14,Total Asie (à l'exception du Japon),171 200,175 400,268 400,360 000,374 800,679 366,730 619,925 932,1 298 296,2 139 154,3 389 943
15,Afrique,16 500,33 000,46 000,55 000,61 000,74 208,90 466,124 697,228 342,387 645,759 954
16,Monde (milliers),230.820,268.273,437.818,555.828,603.410,1.041.092,1.270.014,1.791.020,2.524.531,3.913.482,5.907.680

In [13]:
d.columns

Index(['Année', '1', '1000', '1500', '1600', '1700', '1820', '1870', '1913',
       '1950', '1973', '1998'],
      dtype='object')

In [20]:
type(d['1000'][2])

str

In [27]:
def toint(a):
    if ' ' in a:
        s=a.split(' ')
        if len(s)==2:
            d=int(s[0])*1000+int(s[1])
            return d
        if len(s)==3:
            d=int(s[0])*1000000+int(s[1])*1000+int(s[2])
            return d
        
    elif '.' in a:
        s=a.split('.')
        if len(s)==2:
            d=int(s[0])*1000+int(s[1])
            return d
        if len(s)==3:
            d=int(s[0])*1000000+int(s[1])*1000+int(s[2])
            return d
    else:
        return int(a)
toint('12 200')
toint('121.290')
toint('9.090.990')

9090990

In [29]:
d['1913'].transform(toint)

0      261007
1       79604
2      156192
3      496803
4       97606
5       13795
6      111401
7       14970
8       65545
9       80515
10      51672
11     437140
12     319000
13     185092
14     925932
15     124697
16    1791020
Name: 1913, dtype: int64

In [30]:
d

,Année,1,1000,1500,1600,1700,1820,1870,1913,1950,1973,1998
0,Europe de l'Ouest,24 700,25 413,57 268,73 778,81 460,132 888,187 532,261 007,305 060,358 390,388 399
1,Europe de l'Est (à l'exception des pays de l'U...,4 750,6 500,13 500,16 950,18 800,36 415,52 182,79 604,87 289,110 490,121 006
2,Ancienne URSS,3 900,7 100,16 950,20 700,26 550,54 765,88 672,156 192,180 050,249 748,290 866
3,Toute l'Europe (y compris les pays de l'URSS),33 350,39 013,87 718,111 428,126 810,224 068,328 386,496 803,572 399,718 628,800 271
4,États-Unis,680,1 300,2 000,1 500,1 000,9 981,40 241,97 606,152 271,212 909,279 040
5,Autres ramifications de l'Ouest,490,660,800,800,750,1 249,5 892,13 795,23 823,39 036,52 859
6,Toutes les branches de l'Ouest,1 170,1 960,2 800,2 300,1 750,11 230,46 133,111 401,176 094,250 945,323 420
7,Mexique,2 200,4 500,7 500,2 500,4 500,6 587,9 219,14 970,28 485,57 643,98 553
8,Autres pays d'Amérique latine,3 400,6 900,10 000,6 100,7 550,14 633,30 754,65 545,137 352,250 807,409 070
9,Toute l'Amérique latine,5 600,11 400,17 500,8 600,12 050,21 220,39 973,80 515,165 837,308 450,507 623
10,Japon,3 000,7 500,15 400,18 500,27 000,31 000,34 437,51 672,83 563,108 660,126 469
11,Chine,59 600,59 000,103 000,160 000,138 000,381 000,358 000,437 140,546 815,881 940,1 242 700
12,Inde,75 000,77 000,113 000,145 000,201 000,209 000,239 000,319 000,362 000,549 000,1 029 000
13,Autres pays d'Asie,36 600,41 400,55 400,65 000,71 800,89 366,119 619,185 092,392 481,677 214,1 172 243
14,Total Asie (à l'exception du Japon),171 200,175 400,268 400,360 000,374 800,679 366,730 619,925 932,1 298 296,2 139 154,3 389 943
15,Afrique,16 500,33 000,46 000,55 000,61 000,74 208,90 466,124 697,228 342,387 645,759 954
16,Monde (milliers),230.820,268.273,437.818,555.828,603.410,1.041.092,1.270.014,1.791.020,2.524.531,3.913.482,5.907.680

In [32]:
d.columns[1]

'1'

In [35]:
i=d.columns
f=pd.DataFrame({i[0]:d[i[0]],i[1]:d[i[1]].apply(toint),i[2]:d[i[2]].apply(toint),i[3]:d[i[3]].apply(toint),i[4]:d[i[4]].apply(toint),i[5]:d[i[5]].apply(toint),i[6]:d[i[6]].apply(toint),i[7]:d[i[7]].apply(toint),i[8]:d[i[8]].apply(toint),i[9]:d[i[9]].apply(toint),i[10]:d[i[10]].apply(toint),i[11]:d[i[11]].apply(toint)})

In [36]:
f

,Année,1,1000,1500,1600,1700,1820,1870,1913,1950,1973,1998
0,Europe de l'Ouest,24700,25413,57268,73778,81460,132888,187532,261007,305060,358390,388399
1,Europe de l'Est (à l'exception des pays de l'U...,4750,6500,13500,16950,18800,36415,52182,79604,87289,110490,121006
2,Ancienne URSS,3900,7100,16950,20700,26550,54765,88672,156192,180050,249748,290866
3,Toute l'Europe (y compris les pays de l'URSS),33350,39013,87718,111428,126810,224068,328386,496803,572399,718628,800271
4,États-Unis,680,1300,2000,1500,1000,9981,40241,97606,152271,212909,279040
5,Autres ramifications de l'Ouest,490,660,800,800,750,1249,5892,13795,23823,39036,52859
6,Toutes les branches de l'Ouest,1170,1960,2800,2300,1750,11230,46133,111401,176094,250945,323420
7,Mexique,2200,4500,7500,2500,4500,6587,9219,14970,28485,57643,98553
8,Autres pays d'Amérique latine,3400,6900,10000,6100,7550,14633,30754,65545,137352,250807,409070
9,Toute l'Amérique latine,5600,11400,17500,8600,12050,21220,39973,80515,165837,308450,507623
10,Japon,3000,7500,15400,18500,27000,31000,34437,51672,83563,108660,126469
11,Chine,59600,59000,103000,160000,138000,381000,358000,437140,546815,881940,1242700
12,Inde,75000,77000,113000,145000,201000,209000,239000,319000,362000,549000,1029000
13,Autres pays d'Asie,36600,41400,55400,65000,71800,89366,119619,185092,392481,677214,1172243
14,Total Asie (à l'exception du Japon),171200,175400,268400,360000,374800,679366,730619,925932,1298296,2139154,3389943
15,Afrique,16500,33000,46000,55000,61000,74208,90466,124697,228342,387645,759954
16,Monde (milliers),230820,268273,437818,555828,603410,1041092,1270014,1791020,2524531,3913482,5907680

In [ ]:
f.to_excel("pop-mundial.xlsx")